# EXERCISE#3.1

In [7]:
temperature_in_farenhite=int(input("ENTER CURRENT TEMPERATURE IN DEGREE FARENHITE:"))
temperature_in_celsius=5/9*(temperature_in_farenhite-32)
print(temperature_in_celsius)

ENTER CURRENT TEMPERATURE IN DEGREE FARENHITE:50
10.0

# EXERCISE#3.2[a]

In [10]:
age=int(input("ENTER YOUR AGE:"))
if age>62:
    print("YOU CAN GET YOUR PENSION BENIFITS")
else:
    print("SORRY YOU CAN'T GET YOU PENSION BENIFITS")

ENTER YOUR AGE:65
YOU CAN GET YOUR PENSION BENIFITS

# EXERCISE#3.2[b]

In [17]:
name=['musial','aaraon','williams','gehrig','ruth']
if name==['musial','aaraon','williams','gehrig','ruth']:
    print("ONE OF THE TOP 5 BASEBALLERS IN THE WORLD")
else:
    print()

ONE OF THE TOP 5 BASEBALLERS IN THE WORLD

# EXERCISE#3.2[c]

In [21]:
hits=int(input("ENTER THE HITS:"))
shield=int(input("ENTER THE SHIELD:"))
if hits>10 or shield==0:
    print("YOU ARE DEAD")
else:
    print()

ENTER THE HITS:3
ENTER THE SHIELD:0
YOU ARE DEAD

# EXERCISE#3.2[d]

In [24]:
if ("north<south<east<west"):
    print("YOU CAN ESCAPE")
else:
    print("SORRY YOU CAN'T ESCAPE")

YOU CAN ESCAPE

# EXERCISE#3.3[a]

In [25]:
a=int(input("ENTER THE LEAP YEAR:"))
if a%4==0:
    print("THIS IS A LEAP YEAR")
else:
    print("DEFINITELY A LEAP YEAR")

ENTER THE LEAP YEAR:12
THIS IS A LEAP YEAR

# EXERCISE#3.3[b]

In [40]:
if list('ticket')==list('lottery'):
    print("YOU WON")
else:
    print("BETTER LUCK NEXT TIME")

BETTER LUCK NEXT TIME

# exercise#3.4

In [7]:
a=str(input("ENTER YOUR LOGIN_ID PLEASE:"))
login_ID=['joe','hani','sophie','sue']
if a==login_ID[0] or a==login_ID[1] or a==login_ID[2] or a==login_ID[3]:
    print("YOU ARE IN")
    print("GOODLUCK")
else:
    print("DANGER!!UNKNOWN USER LOGIN TO YOUR SYSTEM")

ENTER YOUR LOGIN_ID PLEASE:osama
DANGER!!UNKNOWN USER LOGIN TO YOUR SYSTEM

# EXERCISE#3.5

In [3]:
a=['stop','dekstop','top','post']
print(a[0])
print(a[1])
print(a[2])
print(a[3])

stop
dekstop
top
post

# EXERCISE#3.6[a]

In [16]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# EXERCISE#3.6[b]

In [20]:
for a in range(0,2):
    print(a)

0
1

# EXERCISE#3.7[a]

In [21]:
for r in range(3,13):
    print(r)

3
4
5
6
7
8
9
10
11
12

# EXERCISE#3.7[b]

In [25]:
for e in range(0,9,2):
    print(e)

0
2
4
6
8

# EXERCISE#3.7[c]

In [26]:
for e in range(0,24,3):
    print(e)

0
3
6
9
12
15
18
21

# EXERCISE#3.7[d]

In [27]:
for b in range(3,12,3):
    print(b)

3
6
9

# EXERCISE#3.8

In [30]:
def perimeter():
    from math import pi
    r=int(input("ENTER THE RADIUS:"))
    perimeter_of_circle=2*pi*r
    print(perimeter_of_circle)
perimeter()

ENTER THE RADIUS:10
62.83185307179586

# EXERCISE#3.9

In [33]:
def average():
    a=int(input("ENTER YOUR FIRST NUMBER:"))
    b=int(input("ENTER YOUR SECOND NUMBER:"))
    average=(a+b)/2
    print(average)
average()

ENTER YOUR FIRST NUMBER:10
ENTER YOUR SECOND NUMBER:10
10.0

# EXERCISE#3.10

In [63]:
s=input("enter the string:")
def function(s):
    for i in s:
        if i in ('aeiouAEIOU'):
            return True
        else:
            return False
print(function(s))

enter the string:osama
True

# EXERCISE#3.11

In [69]:
a=[1,2,3,4,5,6,7,8,9,10]
def alleven(a):
    for i in a:
        if i%2==0:
            return True
        else:
            return False
print(alleven(a))

False

# EXERCISE#3.12

In [88]:
a=([4,0,-1,-3,6,-9])
def negative(a):
    for i in a:
        if i<0:
            print(i)
        else:
            ( )
negative(a)

-1
-3
-9

# EXERCISE#3.13

In [ ]:
help(average)
help(negative)

# EXERCISE#3.14

In [11]:
a=[5,6,7]
b=a
print(b)
a=3
print(a)

[5, 6, 7]
3

# EXERCISE#3.15

In [17]:
team=['AVA','ELEANOR','CLARE','SARAH']
team[0],team[3]=team[3],team[0]
print(team)

['SARAH', 'ELEANOR', 'CLARE', 'AVA']

# EXERCISE#3.16

In [24]:
def swapFL():
    a=['osama','saad','asad','daniyal']
    a[0],a[-1]=a[-1],a[0]
    print(a)
swapFL()

['daniyal', 'saad', 'asad', 'osama']

# EXERCISE#3.17[a]

In [31]:
eval("2*3+1")

7

# EXERCISE#3.17[b]

In [36]:
eval("'hello'")

'hello'

# EXERCISE#3.17[C]

In [33]:
eval("'hello'+' '+'world!'")

'hello world!'

# EXERCISE#3.17[d]

In [37]:
eval("'ASCII'.count('I')")

2

# EXERCISE#3.17[e]

In [40]:
eval("'x=5'")

'x=5'

# EXERCISE#3.18 AND EXERCISE#19:

In [48]:
a,b,c=3,4,5
if a<b:
    print('OK')
else:
    print('NOT OK')
if c<b:
    print("OK")
else:
    print("NOT")
if a+b==c:
    print("OK")
else:
    print("NOT OK")
if (a**2+b**2)==c**2:
    print("OK")
else:
    print("NOT OK")

OK
NOT
NOT OK
OK

# EXERCISE#3.20

In [84]:
a=['january','february','march']
for a in a:
    print(a[0:3])

jan
feb
mar

# EXERCISE#3.21

In [98]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i%2==0:
        print(i)

2
4
6
8

# EXERCISE#3.22

In [103]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
    if i%4==0:
        print(i)

4
8

# EXERCISE#3.23[a],[b],[c],[d],[e],[f]

In [145]:
for i in range(0,2):
    print(i,end=(" "))
print('\n')
for i in range(1):
    print(i,end=(" "))
print('\n')
for i in range(3,7):
    print(i,end=(" "))
print('\n')
for i in range(1,2):
    print(i,end=(" "))
print('\n')
for i in range(0,4):
     print(i,end=(" "))
print('\n')
for i in range(5,22,4):
     print(i,end=(" "))
print('\n')

0 1

0

3 4 5 6

1

0 1 2 3

5 9 13 17 21

# EXERCISE#3.24

In [151]:
words=['cia','secret','mi6','isi','secret']
print((words)[0],words[2],words[3])

cia mi6 isi

# EXERCISE#3.25

In [2]:
a=[]
for i in range(0,5):
    x=a.append(input())
print(a)
for words in a:
    if words[0]>="a" and words[0]<="m":
        print(words)

ellie
steve
sam
owen
gavin
['ellie', 'steve', 'sam', 'owen', 'gavin']
ellie
gavin

# EXERCISE#3.26

In [172]:
a=[3,5,7,9]
print(a[0])
print(a[-1])

3
9

# EXERCISE#3.27

In [3]:
a=int(input("ENTER THE FIRST POSITIVE INTEGER:"))
def multiple():
    for i in range(0,4):
        b=i*a
        print(b)
multiple()

ENTER THE FIRST POSITIVE INTEGER:3
0
3
6
9

# EXERCISE#3.28

In [51]:
a=int(input("ENTER THE INTEGER:"))
for i in range(0,a):
    count=i**2
    print(count)

ENTER THE INTEGER:3
0
1
4

# EXERCISE#3.29

In [17]:
a=int(input("ENTER THE POSITIVE INTEGER:"))
for i in range(1,a+1):
    if a%i == 0:
        print(i)

ENTER THE POSITIVE INTEGER:49
1
7
49

# EXERCISE#3.30

In [2]:
a=float(input("ENTER FIRST NUMBER:"))
b=float(input("ENTER SECOND NUMBER:"))
c=float(input("ENTER THIRD NUMBER:"))
average=(a+b+c)/3
d=float(input("ENTER FOURTH NUMBER:"))
if average==d:
    print("EQUAL")
else:
    print("SORRY YOUR NUMBERS ARE NOT EQUAL")

ENTER FIRST NUMBER:4.5
ENTER SECOND NUMBER:3
ENTER THIRD NUMBER:3
ENTER FOURTH NUMBER:3.5
EQUAL

# EXERCISE#3.31

In [1]:
x=int(input("enter x-cordinate:"))
y=int(input("enter y-cordinate:"))
radius=8
if x<-10 or y<10:
    print("it is in!!")
else:
    print("it is out")

enter x-cordinate:-2
enter y-cordinate:8
it is in!!

# EXERCISE#3.32

In [20]:
a=int(input("ENTER THE FOUR DIGIT NUMBER:"))
print(i)

ENTER THE FOUR DIGIT NUMBER:1234
1233

# EXERCISE#3.33

In [35]:
name=str(input("enter your string:"))
name1=name[::-1]
print(name1)

enter your string:cat
tac

# EXERCISE#3.34

In [47]:
def pay(x,y):
    x=int(input("enter hourly wage:"))
    y=int(input("enter number of hours:"))
    if y>40:
        b=(x*y)+1.5*x
        print(b)
    else:
        a=x*y
        print(a)
pay(x,y)

enter hourly wage:10
enter number of hours:45
465.0

# EXERCISE#3.35

In [49]:
def prob(n):
    c=2**-n
    return(c)
prob(2)

0.25

# EXERCISE#3.36

In [59]:
Number = int(input("Please Enter any Number: "))
Reverse = 0
while(Number > 0):
    Reminder = Number %10
    Reverse = (Reverse *10) + Reminder
    Number = Number //10

print("\n Reverse of entered number is = %d" %Reverse)

Please Enter any Number: 1234

 Reverse of entered number is = 4321

# EXERCISE#3.37

In [71]:
def points():
    import math
    x1=0
    y1=0
    x2=1
    y2=1
    slope=(y2-y1)/(x2-x1)
    distance=math.sqrt((x2-x1)**2+(y2-y1)**2)
    print("THE SLOPE OF POINT IS:",slope,"THE DISTANCE IS",distance)
points()

THE SLOPE OF POINT IS: 1.0 THE DISTANCE IS 1.4142135623730951

# EXERCISE#3.38

In [74]:
def abbrevation():
    a=str(input("enter a day of your choice:"))
    print(a[0:2])
abbrevation()

enter a day of your choice:tuesday
tu

# EXERCISE#3.39

In [1]:
def collision():
    x1=0
    y1=0
    r1=3
    x2=0
    y2=5
    r2=3
    C=(x2-x1)**2+(y2-y1)**2
    R=(r2+r1)**2
    if (x2-x1)**2+(y2-y1)**2<=(r2+r1)**2:
        print("TRUE")
    else:
        print("FALSE")
collision()

TRUE

# EXERCISE#3.40

In [2]:
a=[]
for i in range(0,5):
    x=a.append(input())
print(a)
for words in a:
    if words[0]>="A" and words[0]<="M":
        print(words)

ELEANOR
EVELYN
SAMMY
OWENS
GAVINS
['ELEANOR', 'EVELYN', 'SAMMY', 'OWENS', 'GAVINS']
ELEANOR
EVELYN
GAVINS

# EXERCISE#3.41

In [4]:
a=str(input("enter your first name:"))
b=str(input("enter your last name"))
def lastF():
    print(a[0],b)
lastF()

enter your first name:ali
enter your last nameosama
a osama

# EXERCISE#3.42

In [11]:
def avg(A,B,C,D):
    avg1= sum(A)/4
    print(avg1)
    avg2 = sum(B)/2
    print(avg2)
    avg3 = sum(C)/3
    print(avg3)
    avg4= sum(D)/3
    print(avg4)
    return avg
avg([95,92,86,87],[66,54],[89,72,100],[33,0,0])

90.0
60.0
87.0
11.0

# EXERCISE#3.43

In [12]:
import math
def hits():
    x1=0
    y1=0
    r=3
    x2=3
    y2=0
    p=math.sqrt((x2-x1)**2+(y2-y1)**2)
    if p<=r:
        print('true')
    else:
        print('false')
hits()

true

# EXERCISE#3.44

In [39]:
def distance():
    t = int(input('enter the time'))
    v= float(input('enter the speed of sound'))
    s =t/v*100
    print(s)
distance()

enter the time5
enter the speed of sound340.29
1.4693349789885097